header{
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    padding: 0.5%;
    
}
.jpg{
    height: 50px;
    clear: left;
}
.htext{
    color: rgb(255, 255, 255);
    font-size: 35px;
    clear: left;
}

table,td,th{
    border: 1px solid black;
}
  
table{
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
}
  
