

section{
    border: solid rgb(255, 255, 255);
    height: 80%;
    width: 80%;
    margin: 150px;
    
}

.login{
    border: solid rgb(255, 255, 255);
    height: 80%;
    width: 50%;
    float: right;
}

.headd{
    font-size: 2em;
    width: 70%;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}


.email{
    font-size: 1em;
    border-bottom: solid black;
    width: 70%;
    float: left;
    margin-left: 100px;

}
.pass{
    font-size: 1em;
    border-bottom: solid black;
    width: 70%;
    float: left;
    margin-left: 100px;
}

.bottonlogin{
    font-size: 1em;
    border: solid black;
    width: 70%;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}
.or{
    font-size: 1em;
    width: 70%;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}
.img{
    border: solid black;
    width: 45%;
    float: right;
}
.jpg{
    width: 100%;
}